/* Write your code here: */
/* Group */
h1,h2{
    background-color: orange;
}

/* Child */
ul > p {
    color: aqua;
}

/* Descendent */
.box li{
    color: blueviolet;
}

/* Chained */
li.done{
    color: brown;
}

/* Multiple Combiners */
h1,ul > .done{
    background-color: blue;
}
